.bbigField {
	font-weight: bold;
	font-size: 1.2em;
}
.bigField {
	font-size: 1.2em;
	padding-left:1em;
}


a[role="button"] {
	font-size:1.2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#search{
	width:100%;
}
#autocomplete {
    display: block; 
    position:relative
} 
.ui-autocomplete {
    position: absolute;
    background-color: #fff;
    padding:0.2em;
    font-size:1em;
}

.ui-autocomplete li a:hover {
	font-weight:bold;
	background-color: #fff;
	border:0;
	text-decoration: none;
}
.ui-autocomplete ul:hover {
	background-color: #fff;
}
legend {
	margin-bottom: 0.5em;
	padding-left: 1em;
	font-size:1.2em;
	background: linear-gradient(to right,#333A40 0%,#697885 100%);
	/*background: linear-gradient(to right,#77006c 0%,#f300f5 100%);*/
	color: #fff;
	border-radius:0.5em;
	/*border:2px solid #000;*/
}
fieldset table {
	margin-bottom: 1em;
	border-left: 0.3em #333A40 solid ;
}
fieldset table td{
	padding-left: 0.5em;
}
.tab_form {
	width:100%;
}
.stdlab {
	text-align:left;
	width:26%;	
}

.stdfield {
	text-align:left;
	width:74%;	
}
.tdlab {
	text-align:left;
	width:13%;
}
.tdfield {
	text-align:left;
	width:37%;
}
.tab_form input {
	width:80%;
}
.tab_button {
	width:100%;
}
.button_submit {
	margin-top:1em;
}