.bbigField {
	font-weight: bold;
	font-size: 1.2em;
}
.bigField {
	font-size: 1.2em;
	padding-left:1em;
}


a[role="button"] {
	font-size:1.2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#search{
	width:100%;
}
#autocomplete {
    display: block; 
    position:relative
} 
.ui-autocomplete {
    position: absolute;
    background-color: #fff;
    padding:0.2em;
    font-size:1em;
}

.ui-autocomplete li a:hover {
	font-weight:bold;
	background-color: #fff;
	border:0;
	text-decoration: none;
}
.ui-autocomplete ul:hover {
	background-color: #fff;
}
legend {
	margin-bottom: 0;
	padding-bottom: 0;
}
.fieldset {
	font-size:1.2em;
	color:red;
	background-color: #fff;
	padding: 0.2em 0 0.2em 0.2em;
	border-radius:0.5em;
}
.tab_form {
	width:100%;
}

.tdlab {
	text-align:left;
	width:13%;
}
.tdfield {
	text-align:left;
	width:37%;
}
.tab_form input {
	width:80%;
}
.tab_button {
	width:100%;

}