body {
	background-color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
}

header, footer {
	background-color: #000;
	font-weight: bold;
	color: #fff;
	padding: 1em;
	text-align: center;
}

section {
	margin-top : 1em;
	margin-bottom : 1em;
}
section h1 {
	background: #000;
	width: 100%;
	border-radius: 1em 1em 0em 0;
	color:#fff;
	text-align: center;
	margin-bottom:0;
	box-shadow: 0.5em 0.5em 2em;
	font-size:2em;
	padding: 0.3em 0 0.2em 0;
}
section div {
	margin-top:0;
	/*border: 1px solid;*/
	padding: 1em;
	box-shadow: 0.5em 0.5em 2em;
}
.class_list {
	width:100%;
}
.class_list tr td {
	border: 1px solid #000;
	padding: 0.5em; 
}
.class_list thead tr {
	background-color: black;
	font-weight: bold;
}
.class_list tr td {
	text-align: center;
}
.class_list td[onclick] {
	cursor: pointer;
}
.class_list tbody tr:hover {
	background: #cc0;
}
.del {
	font-weight: bold;
}

.currentpage {
	font-weight: bold;
	font-size: 1.2em;
}

.bbigField {
	font-weight: bold;
	font-size: 1.2em;
}
.bigField {
	font-size: 1.2em;
	padding-left:1em;
}
.actualField {
	font-size: 1.2;
	padding-left: 1em;
	color:red;
}

.wide {
	width:100%;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
a[role="button"] {
	font-size:1.2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#search{
	width:100%;
}
#autocomplete {
    display: block; 
    position:relative
} 
.ui-autocomplete {
    position: absolute;
    /*color: #000;*/
    background-color: #fff;
    padding:0.2em;
    font-size:1em;
}

.ui-autocomplete li a:hover {
	font-weight:bold;
	background-color: #fff;
	border:0;
	text-decoration: none;
}
.ui-autocomplete ul:hover {
	background-color: #fff;
}