body {
	background-color: #ccc;
}

header, footer {
	background-color: #000;
	font-weight: bold;
	color: #fff;
	padding: 1em;
	text-align: center;
}

form {
	padding: 1em;
}

form table {
	border: 1px solid #000;
	border-radius: 1em;
	padding: 0.5em;
}

ul li {
	font-weight : bold;
	background-color: red;
}